extends layout

block content
    
    div.container
        div.hero-unit
            h1 Leaking Data
                small &nbsp;The Present and the Future
            p
                | This project was created by E.J. Bensing for History of Science 
                | 297: Digital Power, Digital Interpretation, Digital Making in Fall 2012 
                | at Harvard University.
                br
                | Personal Website: 
                a(href='http://rm-dash-r.com/') www.rm-dash-r.com
                br
                | Special thanks to Maria Stenzel for the excellent images and creative help.
                br
                br
                | The following videos were used as part of the Intro video:
                ul
                    li
                        a(href="https://www.youtube.com/watch?v=UOpIzHJgZ4o") https://www.youtube.com/watch?v=UOpIzHJgZ4o
                    li
                        a(href="https://www.youtube.com/watch?v=roVUfvyAPek") https://www.youtube.com/watch?v=roVUfvyAPek
                    li
                        a(href="https://www.youtube.com/watch?v=NgM2ipKz-oI") https://www.youtube.com/watch?v=NgM2ipKz-oI
                    li
                        a(href="https://www.youtube.com/watch?v=LXcZ-TySpes") https://www.youtube.com/watch?v=LXcZ-TySpes
                    li
                        a(href="https://www.youtube.com/watch?v=1vmjVMno2FI") https://www.youtube.com/watch?v=1vmjVMno2FI
                    li
                        a(href="https://www.youtube.com/watch?v=kY2DlS_dyfE&feature=youtu.be") https://www.youtube.com/watch?v=kY2DlS_dyfE&feature=youtu.be
                    li
                        a(href="https://www.youtube.com/watch?v=dKNJshwCnz4") https://www.youtube.com/watch?v=dKNJshwCnz4