extends layout

block content
    
    div.container
        div.hero-unit
            h1 Leaking Data
                small &nbsp;The Present and the Future
            p
                | This project was created by E.J. Bensing for History of Science 
                | 297: Digital Power, Digital Interpretation, Digital Making in Fall 2012 
                | at Harvard University. Personal Website: 
                a(href='http://rm-dash-r.com/') www.rm-dash-r.com
                br
                | Special thanks to Maria Stenzel for the excellent images and creative help.