extends layout

block content
    
    div.container
        div.hero-unit
            h1 Leaking Data
                small &nbsp;The Present and the Future
            p
                | This project was created by E.J. Bensing for History of Science 
                | 297: Digital Power, Digital Interpretation, Digital Making in Fall 2012 
                | at Harvard University.
                br
                | Personal Website: 
                a(href='http://rm-dash-r.com/') www.rm-dash-r.com
                br
                | Special thanks to Maria Stenzel for the excellent images and creative help.
                br
                br
                | The following videos were used as part of the Intro video:
                ul
                    li
                        a(href="https://www.youtube.com/watch?v=UOpIzHJgZ4o") The Future of Surveillance?
                    li
                        a(href="https://www.youtube.com/watch?v=roVUfvyAPek") People talking on cell phones in an Asian City
                    li
                        a(href="https://www.youtube.com/watch?v=NgM2ipKz-oI") One Busy intersection
                    li
                        a(href="https://www.youtube.com/watch?v=LXcZ-TySpes") Typing on a laptop keyboard ASMR
                    li
                        a(href="https://www.youtube.com/watch?v=1vmjVMno2FI") Latanya Sweeney on the Hardest Challenges to Designing Privacy-Technology Solutions
                    li
                        a(href="https://www.youtube.com/watch?v=kY2DlS_dyfE&feature=youtu.be") London Surveillance
                    li
                        a(href="https://www.youtube.com/watch?v=dKNJshwCnz4") HD Stock Footage - The Berlin Wall 