extends layout

block content
    
    div.container
        div.hero-unit
            h1 End
            p
                | You have now completed all of the stages! Check out the links below to see my 
                | take on these images or what everybody else has answered.
            div.half-width.center-content
                a(href="/stage/1/curated/").btn.btn-large My Answers
            div.half-width.center-content
                a(href="/stage/1/all/").btn.btn-large All Answers