extends layout

block content
    
    div.container
        div.hero-unit
            h1 End
            p
                | Test to explain the below stuff. 
                | this is some more text.
            div.half-width.center-content
                a(href="/stage/1/curated/").btn.btn-large Curated Answers
            div.half-width.center-content
                a(href="/stage/1/all/").btn.btn-large All Answers