extends layout

block content
    
    div.container
        div.hero-unit
            h1 Leaking Data
                small &nbsp;The Present and the Future
            p
                | We are constantly leaking data into the outside world, and as technology advances 
                | and becomes cheaper, this data is increasingly being collected and stored. 
                | This is happening in both physical and virtual spaces, and goes largely unnoticed. 
                | This project is designed to be both a teaching tool and a forum for discussion about 
                | data, privacy, and surveillance in our lives today and in the future. 
            p &nbsp;
            p
                a(href="#").btn.large Begin