extends layout

block content
    
    div.container
        div.hero-unit
            h1 IT Career Paths
                small &nbsp; Introduction
            p
                | In order to model HUIT’s values of collaboration and openness we provide you with periodic updates on key HR initiatives. 
                | We are pleased to report that we are finalizing our work on IT Career Paths aimed at developing clearer career frameworks for staff. 
            p
                | With that in mind, we identified the typical duties, success factors, development resources, and potential next steps/career options 
                | for both management and technical tracks for each IT role. This has been an exciting project and we relied heavily on our own team 
                | of experts within HUIT to develop the content. We completed 14 working sessions with multiple HUIT subject matter experts who 
                | work in the roles - thank you to all who participated!
            p
                | Now, we would like to ask for your input. We have created three career path templates, and would like you to vote for the design 
                | that best presents the information described above. To review each of the three templates, click “BEGIN” just below 
                | . To cast your single vote representing your preferred template, simply click once on the “VOTE” box at the top of 
                | that page. Votes cannot be recast, so please take the time to review all three templates before selecting. Please note you can 
                | only view this link from a Harvard network.
            p
                | In reviewing each template, please consider: 
                ul
                    li clarity in the visual design
                    li best representation of the career path concept 
                    li ease with which you are able to understand the skills/behaviors needed to develop and move forward professionally
            p
                | Once we have identified the final template you will have the opportunity to provide 
                | input on the content of each career path (by the end of January).
                br
                br
                | The site is open now and will be accepting votes and feedback through December 17th. 
                | Thank you for your help! Please don’t hesitate to be in touch with us if you have any questions.
            p
                | Kim Castelda
                br
                | Kelly Imberman
                br
                | Karen Pemstein
                br
                | Patty St. Amand

            p &nbsp;
            p
                b Please note you can only view this link from a Harvard network.
            p
                a(href="/stage/1/").btn.btn-large Begin
