extends layout

block content
    
    div.container
        div.hero-unit
            h1 HUIT
                small &nbsp;Demo
            p
                | This is a demo for HUIT to show annotation on images for Job Title 
                | something something.
            p &nbsp;
            p
                a(href="/stage/1/").btn.btn-large Begin