extends layout

block content
    
    div.container
        div.hero-unit
            h1 IT Career Paths
                small &nbsp; Introduction
            p
                | We are pleased to report that we are near completion on the IT Career Map Project, 
                | the goal of which is develop clearer career frameworks for staff. In the winter, 
                | we invited HUIT staff to vote on the career path template design that best represented 
                | the typical duties, success factors, development resources and potential next steps/career 
                | options for both the management and technical tracks for each IT role. With the template 
                | selection made, we proceeded to finalize the content of 37 individual career maps. Thanks 
                | again to the team of HUIT subject matter experts who assisted in developing this content! 
            p
                | Now, we invite your input again, this time on the content of these maps. To review the career 
                | maps and post your feedback, please click HYPERLINK. Here you will find a chart of all 16 IT 
                | job families and the respective roles in each family.  Locate the IT job family(ies) and the 
                | role(s) of interest to you, and click to view the career map(s) and submit comments. We invite 
                | you to submit comments, including indicating if any content is missing in the following areas:
                ol
                    li primary duties
                    li critical general skills and critical technical skills 
                    li internal/external resources
            p
                | To submit your comments, please click the "Begin" link below. This will bring you to a page that
                | will list all of the available career maps. (note: the maps in gray are not available at this time) 
                | Click on the position title to go to the career map. Once on this page, you may use your cursor to 
                | drag and select an area on the map. Once you have selected the area, a popup will appear that will 
                | allow you to leave a comment. For further information, see the "instructions" link at the top of the 
                | page.
                br
                br
                | The site is open now and will be accepting votes and feedback through DATE 
                | Thank you for your help! Please don’t hesitate to be in touch with us if you have any questions.
            p
                | Kelly Imberman
                br
                | Karen Pemstein
                br
                | Patty St. Amand

            p &nbsp;
            p
                b Please note you can only view this link from a Harvard network.
            p
                a(href="/map").btn.btn-large Begin
