extends layout

block content

    div.navbar
        div.navbar-inner
            div.container
                a(href="#").brand Title Goes Here
                div.nav-collapse
                    ul.nav
                        li
                            a(href="#") Link 1
                        li
                            a(href="#") Link 2
                        li
                            a(href="#") Link 3

    
    div.container
        div.hero-unit
            h1 Leaking Data
                small &nbsp;The Present and the Future
            p
                | this is a project description something something
                | more something something something
            p &nbsp;
            p
                a(href="#").btn.large Begin