extends layout

block content
    
    div.container
        div.hero-unit
            h1 IT Career Paths
                small &nbsp; Introduction
            p
                | Thank you for providing input on the content of the HUIT career maps. 
                | To review the career maps and post your feedback, please click the “Begin” link 
                | below.  You’ll land on a page that lists all of the available career maps 
                | (note:  the maps in gray are not available at this time).  Locate the IT 
                | job functions and roles of interest to you, and click to view the career 
                | map and submit comments. We welcome all feedback and are particularly 
                | interested in hearing if additional content is needed in the following areas:
                ol
                    li primary duties
                    li critical general skills and critical technical skills 
                    li internal/external resources
            p
                | When you are ready to submit comments on a given career map, simply use your 
                | cursor to drag and select an area on the map.  Once you have selected the 
                | area, a popup will appear that will allow you to leave a comment. For 
                | further information, see the "instructions" link at the top of the page.
                br
                br
                | A few requests to help us incorporate your feedback:
                ol
                    li Include your name so we can call you if we have questions about your comments
                    li Include the position title in the comments box to ensure we can link your comments to the right position
                    li Be as specific as possible in your feedback
            p
                | We are accepting comments through May 29.  Please don’t hesitate to be in touch with us if you have any questions.
                br
                br
                | Thank you for your help!
            p
                | Kelly Imberman
                br
                | Karen Pemstein
                br
                | Patty St. Amand

            p &nbsp;
            p
                b Please note you can only view this link from a Harvard network.
            p
                a(href="/map").btn.btn-large Begin
