extends layout

block content
    
    div.container
        div.hero-unit
            h1 Career Path/Map Review
                small &nbsp; Introduction
            p
                | Since last Spring we have provided you with periodic updates on a number of HR initiatives.  
                | We are pleased to report that we are finalizing our work on the Career Paths.  
                | As you may remember from earlier communications, we set forth on this project with a goal of enabling clear career paths for staff.  
                | With that in mind, each career path we developed identifies typical duties, success factors and development resources for all levels.  
                | In addition, each map will identify career options for each level within that function, including paths for those choosing management 
                | or an individual contributor track.  This has been a very exciting project and we relied heavily on our own team of experts within 
                | HUIT to develop the content.  We completed 14 working sessions with HUIT subject matter experts who work in the 17 IT job functions 
                | and 53 roles underneath these functions—thank you to all who participated!  At this point, we would like to ask for your help. 
                | We are ready to unveil a number of template “mock-ups” and we would like to solicit your feedback in two ways.  
                | The first opportunity for feedback will be on the overall presentation where you will vote on the mock-up you believe best 
                | represents the information and you will also have an opportunity to provide direct feedback on each mock-up.  The second opportunity, 
                | which will come later, will solicit feedback on the overall content to validate and/or enhance what has already been created.
            p
                | The site is open now and will be accepting votes and feedback through XXXX.
            p
                | We will communicate the next opportunity to provide feedback as described above very soon.  
                | Thank you for your help!  Please don’t hesitate to be in touch with us if you have any questions.
            p
                | Kim Castelda
                br
                | Kelly Imberman
                br
                | Karen Pemstein
                br
                | Patty St. Amand

            p &nbsp;
            p
                a(href="/stage/1/").btn.btn-large Begin
