extends layout

block content

    div.topbar
        div.fill
            div.container
                a(href="#").brand Title Goes Here
                ul.nav
                    li
                        a(href="#") Link 1
                    li
                        a(href="#") Link 2
                    li
                        a(href="#") Link 3
