extends layout

block content
  h1= title
  img(src=imgUrl, alt="", id="mainImage")
  div(id="topCover").cover
  div(id="rightCover").cover
  div(id="bottomCover").cover
  div(id="leftCover").cover

  div(id="commentInput", tabindex=-1, role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").modal.hide.fade
    div.modal-header
        button(type="button", data-dismiss="modal", aria-hidden="true").close
            | "x"
        h3(id="myModalLabel") Modal header
    div.modal-body
        | content goes here
    div.modal-footer
        button(data-dismiss="modal", aria-hidden="true").btn close
        button.btn.btn-primary Submit Item