extends layout

block content
  h1= title
  img(src=imgUrl, alt="", id="mainImage")
  div(id="topCover").cover
  div(id="rightCover").cover
  div(id="bottomCover").cover
  div(id="leftCover").cover

  div(id="commentInput", tabindex=-1, role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").modal.hide.fade
    div.modal-header
        button(type="button", data-dismiss="modal", aria-hidden="true").close
            | X
        h3(id="myModalLabel") Comment Submission
    div.modal-body
        form(method="post", action="/addComment", id="commentForm", accept-charset="UTF-8")
            table.table-padding
                tr
                    th Title:
                    td 
                        input(type='text', id='titleTxt', name='titleTxt')
                tr
                    th Name:
                    td 
                        input(type='text', id='nameTxt', name='nameTxt') 
                tr
                    th(colspan=2) How is this used for surveillance?:
                tr
                    td(colspan=2)
                        textarea(rows=5, cols=10)
    div.modal-footer
        button(data-dismiss="modal", aria-hidden="true").btn close
        button(id="commentSubmitBtn").btn.btn-primary Submit Item