extends layout

block content
    
    div.container
        div.hero-unit
            h2 Instructions
            p
                | At each stage, you will be presented with 
                | an image depicting a scene. The goal is to 
                | identify and comment on as many things that you 
                | believe relate to surveillance and/or objects that 
                | can collect data about you.
            p
                | The first two stages are meant to represent scenes 
                | from the present, and the last two stages are the same 
                | scenes in the future. There is not a "correct" answer here.
            p
                | But first, a quick introductory video to get you thinking.
            p &nbsp;
            div.half-width
                a(href="#", id="instructionsBtn2").btn How to leave a comment
            div.half-width
                a(href="/video").btn Continue