doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
	script(src='/js/jquery-1.7.2.min.js', type='text/javascript')
	script(src='/js/selectBox.js', type='text/javascript')
  body
    block content