doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-chrome.css')
        script(src='/js/jquery-1.7.2.min.js', type='text/javascript')
        script(src='/js/jquery.validate.min.js', type='text/javascript')
        script(src='/js/bootstrap.js', type='text/javascript')
        script(src='/js/default.js', type='text/javascript')
        script(src='/js/selectBox.js', type='text/javascript')
    body
        div.navbar
            div.navbar-inner
                div.container
                    a(href="/").brand HUIT Demo
                    div.nav-collapse
                        ul.nav
                            li
                                a(href="/") Home
                            li
                                a(href="#", id="instructionsBtn") Instructions
        block content

        div(id="instructionsModal", tabindex=-1, role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").modal.hide.fade
            div.modal-header
                button(type="button", data-dismiss="modal", aria-hidden="true").close
                    | X
                h3(id="myModalLabel") Instructions
            div.modal-body.modal-body-padding
                p 
                    | instructions go here 
                    | they should be useful
                div.half-width
                    img(src='/images/drag-before.png', alt='Before')
                div.half-width
                    img(src='/images/drag-after.png', alt='Before')

            div.modal-footer
                button(data-dismiss="modal", aria-hidden="true").btn close