doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-chrome.css')
        script(src='/js/jquery-1.7.2.min.js', type='text/javascript')
        script(src='/js/jquery.validate.min.js', type='text/javascript')
        script(src='/js/bootstrap.js', type='text/javascript')
        script(src='/js/default.js', type='text/javascript')
        script(src='/js/selectBox.js', type='text/javascript')
    body
        div.navbar
            div.navbar-inner
                div.container
                    a(href="/").brand HUIT
                    div.nav-collapse
                        ul.nav
                            li
                                a(href="/") Home
        block content

        div(id="instructionsModal", tabindex=-1, role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").modal.hide.fade
            div.modal-header
                button(type="button", data-dismiss="modal", aria-hidden="true").close
                    | X
                h3(id="myModalLabel") Instructions
            div.modal-body.modal-body-padding
                p 
                    | In order to leave a comment, just click and drag your mouse over the area 
                    | you would like to comment about. Once you release your cursor, a form will 
                    | appear that will allow you to leave your comment.
                p
                    | Use the arrows above the images to move forward and backwards between images. 
                    | You may also vote for layouts that you like as well using the Vote button above the image.
                div.row-fluid
                    div.span4
                        img(src='/images/drag-before.png', alt='Before')
                    div.span4
                        img(src='/images/drag-middle.png', alt='Middle')
                    div.span4
                        img(src='/images/drag-after.png', alt='After')

            div.modal-footer
                button(data-dismiss="modal", aria-hidden="true").btn close