extends layout

block content
    
    div.container
        div.hero-unit.center-content
            h2 Intro
            iframe(width="640", height="480", src="http://www.youtube.com/embed/OvZNH6Oo0k8", frameborder="0", allowfullscreen)
            p
                | Audio by 
                a(href="http://dataprivacylab.org/people/sweeney/index.html") Latanya Sweeney
                | . Full Source list 
                a(href="/about") Here
            p &nbsp;
            p
                a(href="/stage/1").btn.large Continue