extends layout

block content
    
    div.container
        div.hero-unit.center-content
            h1 Intro
            iframe(width="640", height="480", src="http://www.youtube.com/embed/OvZNH6Oo0k8", frameborder="0", allowfullscreen)