body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
    background: url('../images/bg.png');
}

h1 {
    padding: 15px 5px 15px 50px;
    color:gray;
}

a {
    color: #999999;
    padding: 3px;
}

.image-overlay {
    z-index: 999;
    position: absolute;
}

.cover {
    z-index: 998;
    opacity: .7;
    background-color: black;
    position: absolute;
}

.table-padding {
    padding: 5px;
}

label.valid {
    width: 24px;
    height: 24px;
    background: url(../images/valid.png) center center no-repeat;
    display: inline-block;
    text-indent: -9999px;
}

label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}

.z-icon {
    z-index: 1001;
    position: absolute;
}

.comment-content {
    display: none;
}

.image-wrap {
    padding: 10px;
    display: inline-block;
}

.arrow-wrap {
    display: inline-block;
    vertical-align:top;
}

.img-border {
    border: 0;
}

.half-width {
    display: inline-block;
    width: 50%;
}

.modal-body-padding {
    padding: 25px !important;
}

.center-content {
    text-align: center !important;
}

.h1-height {
    height: 70px;
    padding-top: 30px;
}

.map-icon {
  display: inline-block;
  width: 49px;
  height: 61px;
  *margin-right: .3em;
  line-height: 61px;
  vertical-align: text-top;
  background-image: url("../images/pin.png");
  background-repeat: no-repeat;
  margin-top: 1px;
}