body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.image-overlay {
    z-index: 999;
    position: absolute;
}

.cover {
    z-index: 1000;
    opacity: .7;
    background-color: black;
    position:absolute;
}